{% extends "base_generic.html" %}

{% block title %}<title>NPC Generator</title>{% endblock %}

{% block content %}
<body>
    <h2>D&D 3.5 NPC Generator</h2>
    <p>This is an NPC generator for D&D 3.5 Edition. Please use the form below to choose the level, class and number
        of characters you want to generate.</p>
    <p>As the NPCs are randomised, it is recommended that you generate more than one so that you can choose your favourite.</p>
    <form action="{% url 'npc_generator:results' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
{% endblock %}